.ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    position: relative;
}

.li{
    gap: 25px;
    display: flex;
    flex-direction: column;
    float: left;
    position: relative;
}

.li:hover>ul{
    display: flex;
    top: 0;
}

.ulContent {
    list-style: none;
    display: none;
    background-color: transparent;
    position: absolute;
    padding-top: 45px;
    top: 0;
    left: -15px;
    padding-left: 0;
}

.contentModal {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: var(--header-background);
    box-shadow: 0px 5px 14px 0px #0000001A;
    border-radius: 12px;
    padding: 1rem 0rem;
    min-width: 200px;
    width: max-content;
}

.linkStyled {
    color: var(--header-color);
    font-weight: 700;
    font-size: 0.875rem;
    display: flex;
    flex-direction: row;
    gap: .3rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    z-index: 80000;
}

.linkStyled:hover {
    color: var(--primary-50);
}

.itemLink {
    color: var(--header-color);
    font-weight: 400;
    font-size: 0.875rem;
    padding: .5rem 1rem;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
    letter-spacing: normal;
    cursor: pointer;
}

.itemLink:hover {
    font-weight: 800;
    background-color: var(--grey-300);
    color: var(--primary-50)
}