.content {
    display: flex;
    flex-direction: column;
    color: var(--section-title-color, currentColor);
    padding: 0;
}

.titleContent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.title {
    font-size: 2rem;
    padding: 0 0.5rem;
    white-space: pre;
    text-align: center; 
    width: max-content;
}
[data-after="true"] .title::before {
    content: "Opinión: ";
    white-space: normal;
}

@media (min-width: 900px) {
    .title {
        text-wrap: nowrap;
        padding: 0 1rem 0 0;
        width: auto;
        white-space: nowrap;
        font-size: 2rem;
    }
    [data-after="true"] .title::before {
        content: "Opinión | ";
        white-space: nowrap;
    }
}

.startLine,
.line {
    width: 100%;
    height: var(--section-line-width, 0.6rem);
    border: none;
}

.startLine {
    display: block;
}

@media (min-width: 900px) {
    .startLine {
        display: none;
    }
}

.childrenContent {
    padding-top: 40px;
}
.content:has(.childrenContent:empty),
.content:has(.childrenContent > *:first-child:last-child:empty){
    visibility: hidden;
}
.readMore { 
    margin: auto;
    margin-right: 0.5rem;
    margin-bottom: 0;
}
.readMore::before {
    color: currentColor;
    content: "LEER MÁS";
    font-size: 1rem;
}

@media (min-width: 900px) {
    .childrenContent {
        padding-top: 51px;
    }
}
@media (max-width: 900px) {
    .readMore::before {
        content: "+";
        font-size: 2rem;
    }
}
