.content {
    display: grid;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
}

@media (min-width: 1200px) {
    .content {
        grid-template-columns: 800px 1fr;
    }
}