.content {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 100%;
    padding-bottom: 2rem;
    gap: 1rem;
    margin-bottom: 0;
    margin: 0 auto;
}

@media (min-width: 900px) {
    .content {
        gap: 2rem;
        padding: 2rem 0rem 0rem 0rem;
        margin-bottom: 0;
        grid-template-columns: 800px 300fr;
    }
}

@media (min-width: 1536px) {  
    .content{
        grid-template-columns: 800px 1fr;
    }
}

.bannerSection {
    display: flex;
    flex-direction: column;
    gap: 42px;
    width: 100%
}